body{
    background-color: #F5F6F7;
    display: flex;
    margin: 0;

    
}
.container{
    display: flex ;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
}
.content{
    margin-top:33px;
    display: flex;
    flex-direction: row;
}
.phone-img{
    width: 400px;
    height: auto;
}
.login-container{
    margin-top:10px;
    width:380px;
    height:650px;
    background-color: #F5F6F7;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login-main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:348px;
    height:380px;
    padding-top:20px;
    padding-bottom:10px ;
    margin-bottom: 10px;
    border: rgb(219, 219, 219) solid 1px;
}

.logo-container{
    padding-top: 15px;
    padding-bottom: 0px;
    padding-bottom: 35px;
    text-align: center;
}
.login-input{
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 8px 8px 8px 8px;
    background-color: #FAFAFA;
    border-color:#e6ecf4;
    box-shadow: none;
    border: 1px solid #e6ecf4;
    
    
}
input:focus
{
    border: 1px solid lightgrey;
    box-shadow: 3px lightgrey;
    outline-offset: 0px;
    outline: none;
}
.login-button{
    display: block;
    width: 75%;
    height: 35px;
    border-radius: 7px;
    color:white;
    background-color: #77A7FF;
    border: none;
}

.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    width:348px;
    height:41px;
    border: rgb(219, 219, 219) solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.line-break{
    width: 348px;
    height: 50px;
    display:flex;
    align-items:center;
    justify-content: center;

}
.line{
    width: 100px;
    height: 1px;
    background-color: rgb(205, 205, 205);
}

.or{
    text-align: center;
    width: 50px;
    height: auto;
    font-size:10px;
    margin:0px 0px 0px 0px;
    color:rgb(174, 172, 172);
    font-size: 11px;
    font-weight: bold;
    font-family: sans-serif;
}
.facebook{
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 175px;
    font-size: 15px;
    color:rgb(red, green, rgb(50, 145, 228))
    
}
.forgot-password{
    font-size: 13px;
}
a:focus{
    text-decoration: none !important;
}
a:link{
    text-decoration: none !important;
}
a:visited{
    text-decoration: none !important;
    text-decoration-color:black;
}
a:active{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.getapp-icons img{
    width: 145px;
    height: auto;

}
.appstore-icon img{
    width:128px;
    height: auto;
}
.get-app{
    margin-top:25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-app-text{
    text-align: center;
    margin-bottom: 0;
}
.footer-links { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    font-size: 13px; 
} 
 
.footer-links a, .footer-end { 
    text-decoration: none; 
    color:#858585; 
    white-space: nowrap; 
} 
 
.footer-end { 
    display: flex; 
    justify-content: center; 
    gap: 30px; 
    font-size: 13px; 
}
p{
    font-family: 'Times New Roman', Times, serif;
}
